<!DOCTYPE html>
<html>
<head>
  <title>TaskTrack</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="bg-dark">
<%= render AppLayouts::NotificationsComponent.new do |component| %>
  <% component.with_flash_toasts flash.map { |type, text| { type:, text: } } %>
<% end %>
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <%= yield %>
        </div>
      </div>
    </main>
  </div>
  <div id="layoutAuthentication_footer">
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted"><%= t('.footer', year: DateTime.current.year).html_safe %></div>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>
</html>
